/* Lists of stories */

.stories-list {
  margin: 1.25rem 0.5rem;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 0.625rem 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 1.25rem 2rem;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
}

.story-user {
  display: block;
}

i.far {
  cursor: pointer;
}

i.far:hover {
  color: black;
}
